<%- include('css.html') %>
</head>

<body class="index-page">
  
  <%- include('menu.html') %>

    <main class="main">

      <!-- Hero Section -->
      <section id="hero" class="hero section dark-background">

        <img src="assets/img/world-dotted-map.png" alt="" class="hero-bg" data-aos="fade-in">

        <div class="container">
          <div class="row gy-4 d-flex justify-content-between">
            <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
              <h2 data-aos="fade-up">Your Lightning Fast Delivery Partner</h2>
              <p data-aos="fade-up" data-aos-delay="100">Facere distinctio molestiae nisi fugit tenetur repellat non
                praesentium nesciunt optio quis sit odio nemo quisquam. eius quos reiciendis eum vel eum voluptatem eum
                maiores eaque id optio ullam occaecati odio est possimus vel reprehenderit</p>

              <form action="#" class="form-search d-flex align-items-stretch mb-3" data-aos="fade-up"
                data-aos-delay="200">
                <input type="text" class="form-control" placeholder="Your ZIP code or City. e.g. New York">
                <button type="submit" class="btn btn-primary">Search</button>
              </form>

              <div class="row gy-4" data-aos="fade-up" data-aos-delay="300">

                <div class="col-lg-3 col-6">
                  <div class="stats-item text-center w-100 h-100">
                    <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="0"
                      class="purecounter">232</span>
                    <p>Clients</p>
                  </div>
                </div><!-- End Stats Item -->

                <div class="col-lg-3 col-6">
                  <div class="stats-item text-center w-100 h-100">
                    <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="0"
                      class="purecounter">521</span>
                    <p>Projects</p>
                  </div>
                </div><!-- End Stats Item -->

                <div class="col-lg-3 col-6">
                  <div class="stats-item text-center w-100 h-100">
                    <span data-purecounter-start="0" data-purecounter-end="1453" data-purecounter-duration="0"
                      class="purecounter">1453</span>
                    <p>Support</p>
                  </div>
                </div><!-- End Stats Item -->

                <div class="col-lg-3 col-6">
                  <div class="stats-item text-center w-100 h-100">
                    <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="0"
                      class="purecounter">32</span>
                    <p>Workers</p>
                  </div>
                </div><!-- End Stats Item -->

              </div>

            </div>

            <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-out">
              <img src="assets/img/hero-img.svg" class="img-fluid mb-3 mb-lg-0" alt="">
            </div>

          </div>
        </div>

      </section><!-- /Hero Section -->

      <!-- Featured Services Section -->
      <section id="featured-services" class="featured-services section">

        <div class="container">

          <div class="row gy-4">

            <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
              <div class="icon flex-shrink-0"><i class="fa-solid fa-cart-flatbed"></i></div>
              <div>
                <h4 class="title">Lorem Ipsum</h4>
                <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint
                  occaecati cupiditate non provident</p>
                <a href="#" class="readmore stretched-link"><span>Learn More</span><i class="bi bi-arrow-right"></i></a>
              </div>
            </div>
            <!-- End Service Item -->

            <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="200">
              <div class="icon flex-shrink-0"><i class="fa-solid fa-truck"></i></div>
              <div>
                <h4 class="title">Dolor Sitema</h4>
                <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                  commodo consequat tarad limino ata</p>
                <a href="#" class="readmore stretched-link"><span>Learn More</span><i class="bi bi-arrow-right"></i></a>
              </div>
            </div><!-- End Service Item -->

            <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="300">
              <div class="icon flex-shrink-0"><i class="fa-solid fa-truck-ramp-box"></i></div>
              <div>
                <h4 class="title">Sed ut perspiciatis</h4>
                <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                  fugiat nulla pariatur</p>
                <a href="#" class="readmore stretched-link"><span>Learn More</span><i class="bi bi-arrow-right"></i></a>
              </div>
            </div><!-- End Service Item -->

          </div>

        </div>

      </section><!-- /Featured Services Section -->

      <!-- About Section -->
      <section id="about" class="about section">

        <div class="container">

          <div class="row gy-4">

            <div class="col-lg-6 position-relative align-self-start order-lg-last order-first" data-aos="fade-up"
              data-aos-delay="200">
              <img src="assets/img/about.jpg" class="img-fluid" alt="">
              <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox pulsating-play-btn"></a>
            </div>

            <div class="col-lg-6 content order-last  order-lg-first" data-aos="fade-up" data-aos-delay="100">
              <h3>About Us</h3>
              <p>
                Dolor iure expedita id fuga asperiores qui sunt consequatur minima. Quidem voluptas deleniti. Sit quia
                molestiae quia quas qui magnam itaque veritatis dolores. Corrupti totam ut eius incidunt reiciendis
                veritatis asperiores placeat.
              </p>
              <ul>
                <li>
                  <i class="bi bi-diagram-3"></i>
                  <div>
                    <h5>Ullamco laboris nisi ut aliquip consequat</h5>
                    <p>Magni facilis facilis repellendus cum excepturi quaerat praesentium libre trade</p>
                  </div>
                </li>
                <li>
                  <i class="bi bi-fullscreen-exit"></i>
                  <div>
                    <h5>Magnam soluta odio exercitationem reprehenderi</h5>
                    <p>Quo totam dolorum at pariatur aut distinctio dolorum laudantium illo direna pasata redi</p>
                  </div>
                </li>
                <li>
                  <i class="bi bi-broadcast"></i>
                  <div>
                    <h5>Voluptatem et qui exercitationem</h5>
                    <p>Et velit et eos maiores est tempora et quos dolorem autem tempora incidunt maxime veniam</p>
                  </div>
                </li>
              </ul>
            </div>

          </div>

        </div>

      </section><!-- /About Section -->

      <!-- Services Section -->
      <section id="services" class="services section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
          <span>Our Services<br></span>
          <h2>Our ServiceS</h2>
          <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
        </div><!-- End Section Title -->

        <div class="container">

          <div class="row gy-4">

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
              <div class="card">
                <div class="card-img">
                  <img src="assets/img/service-1.jpg" alt="" class="img-fluid">
                </div>
                <h3>Storage</h3>
                <p>Cumque eos in qui numquam. Aut aspernatur perferendis sed atque quia voluptas quisquam repellendus
                  temporibus itaqueofficiis odit</p>
              </div>
            </div><!-- End Card Item -->

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
              <div class="card">
                <div class="card-img">
                  <img src="assets/img/service-2.jpg" alt="" class="img-fluid">
                </div>
                <h3><a href="#" class="stretched-link">Logistics</a></h3>
                <p>Asperiores provident dolor accusamus pariatur dolore nam id audantium ut et iure incidunt molestiae
                  dolor ipsam ducimus occaecati nisi</p>
              </div>
            </div><!-- End Card Item -->

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
              <div class="card">
                <div class="card-img">
                  <img src="assets/img/service-3.jpg" alt="" class="img-fluid">
                </div>
                <h3><a href="#" class="stretched-link">Cargo</a></h3>
                <p>Dicta quam similique quia architecto eos nisi aut ratione aut ipsum reiciendis sit doloremque
                  oluptatem aut et molestiae ut et nihil</p>
              </div>
            </div><!-- End Card Item -->

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
              <div class="card">
                <div class="card-img">
                  <img src="assets/img/service-4.jpg" alt="" class="img-fluid">
                </div>
                <h3><a href="#" class="stretched-link">Trucking</a></h3>
                <p>Dicta quam similique quia architecto eos nisi aut ratione aut ipsum reiciendis sit doloremque
                  oluptatem aut et molestiae ut et nihil</p>
              </div>
            </div><!-- End Card Item -->

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
              <div class="card">
                <div class="card-img">
                  <img src="assets/img/service-5.jpg" alt="" class="img-fluid">
                </div>
                <h3>Packaging</h3>
                <p>Illo consequuntur quisquam delectus praesentium modi dignissimos facere vel cum onsequuntur maiores
                  beatae consequatur magni voluptates</p>
              </div>
            </div><!-- End Card Item -->

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
              <div class="card">
                <div class="card-img">
                  <img src="assets/img/service-6.jpg" alt="" class="img-fluid">
                </div>
                <h3><a href="#" class="stretched-link">Warehousing</a></h3>
                <p>Quas assumenda non occaecati molestiae. In aut earum sed natus eatae in vero. Ab modi quisquam aut
                  nostrum unde et qui est non quo nulla</p>
              </div>
            </div><!-- End Card Item -->

          </div>

        </div>

      </section><!-- /Services Section -->

      <!-- Call To Action Section -->
      <section id="call-to-action" class="call-to-action section dark-background">

        <img src="assets/img/cta-bg.jpg" alt="">

        <div class="container">
          <div class="row justify-content-center" data-aos="zoom-in" data-aos-delay="100">
            <div class="col-xl-10">
              <div class="text-center">
                <h3>Call To Action</h3>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                  pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
                  anim id est laborum.</p>
                <a class="cta-btn" href="#">Call To Action</a>
              </div>
            </div>
          </div>
        </div>

      </section><!-- /Call To Action Section -->

    </main>
    <%- include('footer.html') %>
  </body>

  </html>