  <header id="header" class="header d-flex align-items-center fixed" style="background-color: rgb(40, 36, 48);">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

      <a href="/" class="logo d-flex align-items-center me-auto">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1 class="sitename">Logis</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="/" class="active">개인<br></a></li><!--index.html-->
          <li><a href="">자산관리</a></li><!--about.html-->
          <li><a href="services.html">부동산</a></li><!--services.html-->
          <li><a href="pricing.html">퇴직연금</a></li><!--pricing.html-->
          <li class="dropdown"><a href="#"><span>전체서비스</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a href="#">Dropdown 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Dropdown</span> <i
                    class="bi bi-chevron-down toggle-dropdown"></i></a>
                <ul>
                  <li><a href="#">Deep Dropdown 1</a></li>
                  <li><a href="#">Deep Dropdown 2</a></li>
                  <li><a href="#">Deep Dropdown 3</a></li>
                  <li><a href="#">Deep Dropdown 4</a></li>
                  <li><a href="#">Deep Dropdown 5</a></li>
                </ul>
              </li>
              <li><a href="#">Dropdown 2</a></li>
              <li><a href="#">Dropdown 3</a></li>
              <li><a href="#">Dropdown 4</a></li>
            </ul>
          </li>
          <li><a href="contact.html">Contact</a></li>
          <li id="loginSpan"><a href="/login">로그인</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>
    </div>
  </header>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

  <script>

    //웹 브라우저 메모리에 uid 쿠키가 있는지 확인
    //있으면 logout 버튼이 보이도록

    const uid = $.cookie("uid");

    if (uid) {
        // $(".logined").removeClass("disabled");
        $("#loginSpan").html(`<span style="color: gray;">&nbsp;${uid}&nbsp;님 환영합니다. &nbsp;&nbsp;</span> <button onclick="logout()" class="btn btn-primary">logout</button>`);
    }

    function logout() {
        $.removeCookie("uid", { path: "/" });
        location.href = "/logout";
    }
</script>